include simplewebserver/templates/base.html
include simplewebserver/templates/login.html
include simplewebserver/templates/path.html
include simplewebserver/templates/play_media.html
include simplewebserver/templates/view_text.html
include simplewebserver/static/ajquery.dataTables.min.js
include simplewebserver/static/baseline-folder-24px.svg
include simplewebserver/static/baseline-format_align_justify-24px.svg
include simplewebserver/static/baseline-lock_open-24px.svg
include simplewebserver/static/baseline-notes-24px.svg
include simplewebserver/static/baseline-play_circle_outline-24px.svg
include simplewebserver/static/baseline-share-24px.svg
include simplewebserver/static/baseline_folder_black_18dp.png
include simplewebserver/static/jquery.dataTables.css
include simplewebserver/static/jquery.dataTables.js
include simplewebserver/static/jquery.dataTables.min.css
include simplewebserver/static/jquery.dataTables.min.js
include simplewebserver/static/jquery.media.js
include simplewebserver/static/jquery.min.js
include simplewebserver/static/open_sans_300.css
include simplewebserver/static/open_sans_300.woff2
include simplewebserver/static/sort_asc.png
include simplewebserver/static/sort_both.png
include simplewebserver/static/sort_desc.png
include simplewebserver/static/styles.css
include simplewebserver/static/styles.css.map
include simplewebserver/static/styles.scss